
<!DOCTYPE html>
<html lang="en" style="background-color:#d6ff99;">
<head>
    <meta charset="UTF-8">
    <title>Chat Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="login.js"></script>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body style="background-color:#d6ff99;">

    <div style="background-color:#d6ff99;">
      <div class="form">
          <input type="text" placeholder="Username" name="username" id="username"/>
          <input type="password" placeholder="Password" name="password" id="password" />
          <button type="button" onclick="getData()">Login</button>
          <pre>

        </pre>
          <button id="goto" type="button" onclick="location.href='chat.html'" style="display:none">Go to chat</button>

        <div id="action">
            <img id="loading" src="/static/images/loading.gif" style="display:none" />
            <img id="ok" src="/static/images/check.png"  width="100" height="100" style="display:none" />
            <img id="fail"  src="/static/images/tryagain.png"   width="100" height="100"style="display:none" />
        </div>
      </div>
    </div>

</body>
</html>